{# src/Carnaval/WebsiteBundle/Resources/views/Website/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
    <br />
    <img src="{{ asset('img/logo_main.png') }}" class="border_solid_white_1" alt="Logo Carnaval Artifices Evénementiels" />
    <br />
	<h1 class="center font_15">CARNAVAL ARTIFICES EVENEMENTIELS</h1>
    <h2 class="center font_15">le spécialiste Normands du spectacle pyrotechnique.</h2>
    <div class="center">
        <img src="{{ asset('img/logo_lacroix_ruggieri.png') }}" class="border_solid_white_1 size_250" alt="Logo Lacrois-Ruggieri" />
    </div>
    <div class="center">
        <a href="http://www.facebook.com/Carnaval.Artifices.Evenementiels"><img src="{{ asset('img/facebook.jpg') }}" class="border_solid_white_1 size_100" alt="Logo Facebook" /></a>
    </div>
{% endblock %}