{# src/Carnaval/WebsiteBundle/Resources/views/Website/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
    <br />
    <img src="{{ asset('img/logo_main.png') }}" class="border_solid_white_1" alt="Logo Carnaval Artifices Evénementiels" />
    <br />
	<h1 class="center font_15">CARNAVAL ARTIFICES EVENEMENTIELS</h1>
    <h2 class="center font_15">le spécialiste Normands du spectacle pyrotechnique.</h2>
    <div class="center">
        <img src="{{ asset('img/logo_lacroix_ruggieri.png') }}" class="border_solid_white_1 size_250" alt="Logo Lacrois-Ruggieri" />
    </div>
    <div class="center">
        <a href="http://www.facebook.com/Carnaval.Artifices.Evenementiels"><img src="{{ asset('img/facebook.jpg') }}" class="border_solid_white_1 size_100" alt="Logo Facebook" /></a><br/>
        <a href="http://www.starofservice.com/annubis/haute-normandie/seine-maritime/mesnil-panneville/spectacle-de-feu-d-artifice" id="starofservice-medallion" target="_blank"><img        src="//cdn2.starofservice.com/4644c9a7732a/images/featured-pro.png" alt="StarOfservice Top Pro 2015"></a><!--script src="http://cdn2.starofservice.com/4644c9a7732a/js/featured-pro.gz.js"></script-->
    </div>
{% endblock %}