{# src/Carnaval/WebsiteBundle/Resources/views/Website/index.html.twig #}
 
{% extends "::layout.html.twig" %}
 
{% block title %}
  Références - {{ parent() }}
{% endblock %}
 
{% block carnaval_contenu %}
    <h2 class="text-center">CARNAVAL ARTIFICES EVENEMENTIELS REFERENCES</h2>
    <br>
    <p style="text-indent:20px; text-align:justify;">
        Parmi les grands <strong>spectacles pyrotechnique</strong> réalisés des années passés, il y eu le 90ème Anniversaire de la Bataille de la Somme sur l&#39;Aéroport d&#39;Amiens en 2004, Le Départ du « Marité » de son port d&#39;attache lors de l&#39;émission « Thalassa »,  le 60ème Anniversaire du débarquement des Canadien à Dieppe en 2002, Le concert de la Réconciliation des Peuples à Saint Martin aux Buneaux en 1994, Les Fêtes Mozart aux Petites Dalles, et tant d&#39;autres&#8230;
    </p><br>
    <p style="text-indent:20px; text-align:justify;">
        <strong>CARNAVAL ARTIFICES EVENEMENTIELS</strong> a réalisé, parmi tant d&#39;autres,  les <strong>spectacles pyrotechniques</strong> pour :
        <img src="{{ asset('img/pic_1.png') }}" width="400px" class="alignRight" alt="Picture 2">
    <ul>
        <li>Les villes de :
            <ul>
                <li>Rouen</li>
                <li>Oissel</li>
                <li>Compiègne</li>
                <li>Herblay</li>
                <li>Senlis</li>
                <li>Pont Audemer</li>
                <li>Pacy sur Eure</li>
                <li>Bolbec</li>
                <li>Fécamp</li>
                <li>Trouville sur Mer</li>
                <li>Etretat</li>
                <li>Maromme</li>
                <li>Saint Just en Chaussée</li>
                <li>Falaise</li>
                <li>Cléon</li>
                <li>Saint Valéry en Caux</li>
                <li>Duclair</li>
                <li>Le Trait ...</li>
            </ul>
        <li>Plusieurs Fêtes Foraine illuminée :
            <ul>
                <li>Alençon</li>
                <li>Caen</li>
                <li>Amiens</li>
                <li>Abbeville</li>
                <li>Dieppe</li>
                <li>Lessay</li>
                <li>Elbeuf ...</li>
            </ul>
        </li>
        <li>Les Feux pour les Fêtes Impériales de Sissi</li>
        <li>Le Pasino du Havre</li>
        <li>L&#39;association des Balles Blanches</li>
    </ul>
{% endblock %}